@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    --primary: #28AFB0;
    --secondary: #FF570A;
    --tertiary: #19647E;
    --quaternary: #F4D35E;
    --quinary: #14121A;

    --black: #14080E;
    --white: #FFFFFF;
}

body{
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    background: url('../assets/svg/motif1.svg'), var(--black);
    background-size: 100px 100px;
    background-repeat: repeat;
}

/* elements */

input[type=submit]{
    border-radius: 20px;
    background-color: var(--secondary);
    border: 0;
    color: var(--white);
    padding: 5px 15px;
    width: 100px;
    font-size: 1em;
}

input[type=text]{
    background-color: var(--secondary);
    border: 0;
    color: var(--white);
    padding: 8px;
    border-radius: 5px;
}

input::placeholder {
    color: var(--white);
    font-size: 1em;
  }

  select{
    width: 30vh;
    background-color: var(--secondary);
    border: 0;
    color: var(--white);
    margin: 10px 0;
}

/* header */

header{
    justify-content: center;
    display: flex;
}

header a{
    margin-top: 15px;
}

/* main */

main{
    display: flex;
    justify-content: center;
    height: 60vh;
    gap: 5%;
    background-color: var(--primary);
    border-radius: 20px;
    margin: 5%;
    padding: 20px;
}

main section{
    width: 25%;
}

.personalization{
    justify-content: center;
    display: flex;
    padding-top: 35px;
}

.tutorial{
    text-align: center;
}

.tutorial h2{
    margin: 0;
}

.tutorial-box {
    background-color: var(--tertiary);
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
}

.game-options{
    display: flex;
    flex-wrap: wrap;
}
.game {
    flex: 30%;
    background-color: var(--tertiary);
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
}
.selected {
    background-color: var(--secondary);
}

.playersList{
    background-color: var(--primary);
    border-radius: 20px;
    margin: 5%;
    padding: 20px;
}

.playersList h3{
    margin: 0 0 15px 0;
    text-align: center;
}

.playersList p{
    margin: 0 0 0 0;
}

.playersContainer{
    display: flex;
}

.playerContainer{
    flex: 25%;
    display: grid;
}

.playerContainer img{
    margin: auto;
}

.playerContainer p{
    text-align: center;
    margin-top: 5px;
}

.submitBtn{
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.settings{
    text-align: center;
}

/* footer */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    color: var(--white);
}

.footerLinks{
    display: flex;
    text-align: center;
    padding: 0 10%;
}

.footerLinks a{
    flex: 0 0 33%;
    text-decoration: none;
}



.avatar-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--black);
    margin: 0 auto 30px auto;
    cursor: pointer;
}
.avatar-options {
    display: flex;
    gap: 5px;
}
.avatar-option, .player-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s;
}
.avatar-option:hover {
    transform: scale(1.1);
}
.avatar-selected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar-selected img {
    width: 100%;
    height: auto;
}